.container{
    border: 2px solid green;
    width: 800px;
    height: 450px;
    background-image: url("./can.PNG"); 
    background-repeat: no-repeat;   
}
.text{
    padding-top: 150px;
    text-transform: uppercase;
}
.text h3{
    font-size: 30px;
}
.text h2{
    font-size: 50px;
}
hr{
    width: 700      px;
}
